.loading-wrapper
{
    width: 100%;
    height:100vh;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.loading-content
{
    display: flex;
    width: 400px;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/proxy\ \(7\).gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: initial;
    border-radius: 50%;
}
.loading-img
{
    background-image: url(../../assets/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 150px;
    height:150px;
}
