.upload-container
{
    background-color: #1f1f1f;
    box-sizing: border-box;
    height: 100%;
    width:80%;
    position: absolute;
    top:65px;
}
.flex-con
{
    display: flex;
}
.Form-container
{
    width:100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: #3e3e3e;
}
.Form-container .Video-up-btn
{
    flex: 1;
    width:100%;
    height:50px;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Oxanium', sans-serif ;
    font-weight: 700;
}
.Video-up-btn:hover{
    background-color: #1f1f1f;
}
@media screen and (max-width:500px) 
{
    .upload-container
    {
        width:100%;
    }
}