.Contact-container
{
    width: 100%;
    height: 100%;
    padding: 4rem 2rem;
    font-family:'Oxanium', sans-serif ;
}
.Contact-container h1{
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    color: White;
    font-weight: 800;
}
.contact-ways
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-form
{
    width: 60%;
    height: 100%;
    padding: 1rem;
}
.contact-form h3
{
    color:white;
    text-align: center;
    padding: 0.5rem;
}
.contact-form form
{
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction:column ;
}
.contact-form form div{
    width: 100%;
    margin-bottom:0.5rem;
    color: white;
    background-color: transparent;
}
.form-con-contact form div span{
    color:white;
}
.form-con-contact form div input{
    width: 100%;
    height: 45px;
    outline: none;
    border:1px solid white;
    color: white;
    background-color: #111828;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.5rem;
    cursor: pointer;
}
#contact-message-textarea
{
    width: 100%;
    height:200px;
    resize: none;
    outline: none;
    color: white;
    background-color: #111828;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    border:1px solid white;
}
.form-con-contact form button
{
    width: 100%;
    height:50px;
    outline: none;
    cursor: pointer;
}
.Socialmedia-con
{
    width: 100%;
    text-align: center;
}
.Socialmedia-con h3{
    color: white;
    padding: 2rem;
    font-size: 2rem;
}
.contact-socialMedia-con
{
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem !important;
}
.c-sm-ol
{
    width:100%;
    height: 200px;
    padding: 1rem;
}
.c-sm-mc
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-sm-mc ul{
    padding: 0.5rem;
}
.c-sm-mc ul li{
    list-style: none;
    padding:0.5rem 1.5rem;
    float: left;
}
.c-sm-mc ul li a{
    font-size: 3rem;
    color: white;
}
.c-sm-mc ul li a:hover
{
    color:#e5a102;
    transition: 0.2s;
}
@media screen and (max-width:850px) 
{
    .contact-form
    {
        width: 100%;
    }
    .contact-socialMedia-con
    {
        width: 100%;
    }
    .c-sm-mc ul li{
        padding:1.5rem;
    }
    .c-sm-ol
    {
        width:100%;
        height:100%;
        padding: 1rem;
    }
}
@media screen and (max-width:500px) 
{
    .Contact-container
    {
        padding: 4rem 0.5rem;
    }
    .contact-form
    {
        width: 100%;
        padding: 1rem 0;
    }
    .c-sm-mc ul li{
        float: none;
        padding: 0.5rem 1rem;
    }
}