*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* Dark color for the thumb */
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: #222; /* Dark color for the track */
}

/* For Firefox */
/* Set the track color separately, as Firefox does not support scrollbar-color property */
body {
  scrollbar-color: #333 #222;
}

/* For Internet Explorer and Edge */
body {
  -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer and Edge */
  scrollbar-color: #333 #222; /* Dark color for the thumb and track in Edge */
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #333; /* Dark color for the thumb in Webkit browsers */
  border-radius: 6px;
}

body::-webkit-scrollbar-track {
  background: #222; /* Dark color for the track in Webkit browsers */
}
